/*********************************************************************************************************************************************/	
/* STRUCTURE   *******************************************************************************************************************************/
/*********************************************************************************************************************************************/	
@import url(structure_media.css) ;
@import url(structure_bfw.css) ;
/* BASE */
 @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@font-face {
  font-family: 'Jenson';
  src: url('font/AdobeJensonProRegular.otf');
} 
	body{
		font-size : 18px ; 
		font-family: 'Roboto', sans-serif;
		font-weight : normal;
	}

/* Image et couleur de fond */
/*	html{background: #4b701b;}	*/
	body{background : #fff;}
	#site{}  /* Englobe tous le site */
	.page {background : transparent ;} /* Formate la page dans les blocs 100% */
	#headers,#headerBan,#headerNav,#headerSlide{clear:both;}
	#headers{background:transparent;}
		#headerBan{background:transparent;} /* Englobe #banner */
			#banner {background : transparent ;text-align:left;}
			/* Option Tel dans le banner */
				/* #headerBan .page,#headerNav .page {width:1200px;max-width:100%;margin:auto;} 
				#headerBan .page .tel{position:absolute;right:0px;top:0px;} */												   
			#banner .h1 {text-align:left;}
		.navdeco {
			position: relative;
		}
		#headerNav{
			background: rgba(75,112,27,0.75); 
			position: absolute;
			width: 100%;
			margin: auto;
			top: 0;
			z-index: 99;
			padding: 8px 0;
		} 
		#headerNav.fixed {
			position : fixed !important;
		}
		#headerNav .page {
			max-width: 1200px;
			margin: auto;
		}
		
		
		#headerNav.fixed .page {
			background-image: url(../../images/logo.png) !important;
			background-position: left 4px !important;
			background-repeat: no-repeat !important;
		}
		.home #headerNav.fixed .page {
			background-image: url(../../images/logo.png) !important;
		}
		
		.home #headerNav{
			background:#4b701b;
			position: inherit;
		} 
		/* Englobe #navigationH */ /* ONEPAGE : position:fixed;height:33px;z-index:99999999999;top:0;width:100%; */
		/* Si on fixe la navigation avec le JS CF HTMLSpe2 */
		/* #headerNav.fixed{position:fixed;top:0;}
			#headerNav.fixed nav{background : transparent url(../../images/logo_nav.png) left center no-repeat ;transition:all 0.3s;}
			#headerNav nav{background-image : none ;transition:all 0.3s;} */
		#headerSlide{position: relative; background:transparent; border-bottom: 40px solid #4b701b;} /* Englobe #bandeau_anim et #bandeau_fixe */
		#headerSlide .page{width:100%;} /*Pour avoir un slide à 100% du site */
			#anim1 {background: transparent url(../../images/anim1.jpg) center center no-repeat; background-size: cover;}
			#anim2 {background: transparent url(../../images/anim2.jpg) center center no-repeat; background-size: cover;}
			#anim3 {background: transparent url(../../images/anim3.jpg) center center no-repeat; background-size: cover;}
			#anim4 {background: transparent url(../../images/anim4.jpg) bottom center no-repeat; background-size: cover;}
			#anim5 {background: transparent url(../../images/anim5.jpg) bottom center no-repeat; background-size: cover;}
			#anim6 {background: transparent url(../../images/anim6.jpg) bottom center no-repeat; background-size: cover;}
			#anim7 {background: transparent url(../../images/anim7.jpg) bottom center no-repeat; background-size: cover;}
			#anim8 {background: transparent url(../../images/anim8.jpg) center center no-repeat; background-size: contain;}
			#anim9 {background: transparent url(../../images/anim9.jpg) center center no-repeat; background-size: cover;} 
			#headerSlide .decoslide {
				position: absolute; 
				bottom: 110px;    
				background: rgba(22, 22, 22, 0.57);
				width: 54%;
				box-sizing: border-box;
				padding: 20px 32px;
				text-align: right;
			}
			#headerSlide #anim8 .decoslide {
				width: 34%;
			}
			#headerSlide #anim9 .decoslide {
				width: 44%;
			}
			.decoslide span {
				font-size: 49px;
				font-style: italic;
				color: #fff;
				display: block;
				line-height: normal;
			}
			.decoslide span:first-child {
				padding-right: 80px;
			}
			#anim8 .decoslide span:first-child {
				padding-right: 0px;
			}
			#anim9 .decoslide span:first-child {
				padding-right: 160px;
			}
	#FullDecoTop{
		position : relative ;
		height : 375px ;
		background:transparent url(../../images/inter-metier.jpg) top center no-repeat;
		background-size : cover ;
	}
	#page2 #FullDecoTop, #page22 #FullDecoTop, #page23 #FullDecoTop, #page24 #FullDecoTop, #page25 #FullDecoTop, #page26 #FullDecoTop, #page27 #FullDecoTop, #page28 #FullDecoTop, #page29 #FullDecoTop {
		background:transparent url(../../images/inter-metier.jpg) top center no-repeat;
		background-size: cover;
	} 
	#page44 #FullDecoTop, #page45 #FullDecoTop, #page46 #FullDecoTop, #page47 #FullDecoTop {
		background:transparent url(../../images/inter-rh.jpg) top center no-repeat;
		background-size: cover;
	} 
	#page35 #FullDecoTop, #page39 #FullDecoTop, #page40 #FullDecoTop, #page41 #FullDecoTop, #page42 #FullDecoTop {
		background:transparent url(../../images/inter-produit.jpg) top center no-repeat;
		background-size: cover;
	} 
	#page48 #FullDecoTop, #page49 #FullDecoTop, #page56 #FullDecoTop, #page57 #FullDecoTop, #page58 #FullDecoTop, #page51 #FullDecoTop, #page59 #FullDecoTop, #page60 #FullDecoTop, #page62 #FullDecoTop, #page63 #FullDecoTop, #page64 #FullDecoTop, #page65 #FullDecoTop, #page66 #FullDecoTop, #page67 #FullDecoTop, #page69 #FullDecoTop, #page54 #FullDecoTop, #page70 #FullDecoTop, #page71#FullDecoTop, #page72 #FullDecoTop, #page73 #FullDecoTop, #page74 #FullDecoTop, #page75 #FullDecoTop, #page76 #FullDecoTop, #page77 #FullDecoTop, #page78 #FullDecoTop, #page79 #FullDecoTop, #page55 #FullDecoTop {
		background:transparent url(../../images/inter-financier.jpg) center center no-repeat;
		background-size: cover;
	} 
	#page64 #containers{background:transparent url(../../images/actu.png) right top no-repeat;}
	#page62 #containers{background:transparent url(../../images/commu.png) right 100px no-repeat;}
	#page29 #containers{background:transparent url(../../images/presse.png) right 135px no-repeat;}
	
	
	#containers{background:transparent url(../../images/body.jpg) top center no-repeat; padding: 100px 0;} /* Englobe #container, #containDeco, #contain, #leftbar */
	#page46 #containers{padding: 0;} /* Englobe #container, #containDeco, #contain, #leftbar */
	.home #containers{display: none; background:transparent;} /* Englobe #container, #containDeco, #contain, #leftbar */
		#container {
			background : transparent;
			/* margin-top: 249px; */
		}
			#containDeco {background : transparent;} /* zone qui couvre exactement #container, permet d'ajouter un élément non-duplicable sur container si page doit être transparent sinon, sert à rien */
				#contain{}
				#leftbar{background : transparent ;}
				
	#footers{background:transparent;} /* Englobe #footer et #footerContent */
		#footer{}
			#footer #footerContent{background : transparent;/* position:absolute; */} /* Zone de contenu au dessus de bottom.ext et au dessous de #container [Possibilité d'avoir la boite coordonnées] sinon, sert à rien */
			
	#signatures {background: #4b701b; font-size:0.6em;} /* Englobe #navigationH */
	.poweredby{color:#ffffff;display:inline-block;margin:auto ;} /* Couleur des liens des plugins */

	/* #FooterDecoTop, #FooterDecoBottom, HeaderDecoTop, #HeaderDecoBottom, #FullDecoTop, #FullDecoBottom, #ContainDecotop, #ContainDecoBottom */
		.col {
			display: inline-block;
			vertical-align: top;
			width: 33%;
			box-sizing: border-box;
			margin: 0px auto;
		}
		#FullDecoBottom {
			text-align: center;
		}
		#HeaderDecoTop, #HeaderDecoTop img, #idm, #idm img, #map, #map img, #cle, #cle img, #pdf, #pdf img, #tcle, #tcle img {
			line-height: 0;
			max-width: 100%;
			text-align: center;
		}
		#HeaderDecoTop img {
			width: 100%;
		}
		#idm, #tcle {
			background: #868485;
		}
		#idm img, #tcle img {
			display: inline-block;
			vertical-align: middle;
		}
		h6 {
			display: inline-block;
			color: #fff !important;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 24px;
			text-indent: inherit;
			line-height: 96px;
			vertical-align: middle;
		}
		#cle {
			background: #ebe9ea;
			padding: 90px 0;
			margin-bottom: 40px;
		}
		#cle img {
			max-width: 25%;
		}
		#map {
			min-height: 500px;
			max-height: 80vh;
			overflow: hidden;
			display: block;
			background: transparent url(../../images/body.jpg) center left no-repeat;
			background-size: contain;
		}
		#mapmob {
			display: none;
		}
		#map #Calque_1 {
			height: 80vh;
		}
			.logo{
				font-family: 'Jenson';
				font-size: 32px;
				padding-top: 10px;
				background: transparent url(../../images/puce.png) left top no-repeat;
				padding-left: 40px;
				font-weight: 300;
				text-align: left;
				margin-bottom: 5px;
				color: #4a6725;
			}
				.logofils{
					font-weight: 400;
					font-style:italic;
				}
		.half {
			display: inline-block;
			width: 49.9%;	
			vertical-align: bottom;
		}
		div#txt {    
			text-align: right;
		}
		div#txt h2 {    
			font-family: 'Jenson';
		}
		#FullDecoBottom #txt h2 span {
			font-size: 32px;
			padding-top: 10px;
		}
		.half.texte {
			padding: 30px 53px 15px 26px;
			font-size: 15px;
			color: #000;
			max-width: 614px;
			text-align: justify;
			box-sizing: border-box;
		}
		#FullDecoBottom .texte div {
			text-align: center;
			margin-top: 25px;
		}
		#FullDecoBottom .texte img {
			margin: 0 11px;
			box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.18);
		}
		#FullDecoBottom span.lgd {
			display: block;
			font-size: 13px;
			color: #000;
		}
		#FullDecoBottom #txt .half span.lgd:hover, #FullDecoBottom #txt .half a:hover {
			text-decoration: none !important;
			color: #4b701b;
		}
		.flexH,.flexV{
			display : flex ;
			align-item : center ;
			justify-content: space-between;
		}
			.flexH > *, .flexV > *{
				align-self: center;
			}
		.flexH{
			flex-direction : row ;
		}
		.flexV{
			flex-direction : column ;
		}
		
		#FullDecoBottom .widgetListeLien *{
			transition : all 0.3s ;
		}
		#FullDecoBottom .widgetListeLien{
			line-height : 1.2em;
			display : inline-block;
			vertical-align:top;
			width : 32%;
			box-sizing : border-box ;
			box-shadow : 2px 2px 2px rgba(0,0,0,0.2);
			padding : 10px ;
			min-width: 300px;
			margin : 5px ;
		}
			#FullDecoBottom .widgetListeLien h3{
				font-size : 20px;
				padding : 22px 0 22px 70px;
				margin-bottom : 5px ;
				text-transform : uppercase ;
				text-align: left;
				padding-left: 55px;
			}
			#FullDecoBottom .widgetListeLien.agenda h3 {background: transparent url(../../images/picto1.png) left center no-repeat;}
			#FullDecoBottom .widgetListeLien.communiques h3 {background: transparent url(../../images/picto2.png) left center no-repeat; padding-left: 70px;}
			#FullDecoBottom .widgetListeLien.presse h3 {background: transparent url(../../images/picto3.png) left center no-repeat;}
			#FullDecoBottom .widgetListeLien ul{    
				font-size: 0.65em;
				list-style: none;
				padding-left: 8px;
				text-align : left ;
			}
				#FullDecoBottom .widgetListeLien ul li{    
					word-wrap: break-word;
					white-space: nowrap;
					/* overflow-wrap: break-word; */
					text-overflow: ellipsis;
					overflow-x: hidden;
				}
				#FullDecoBottom .widgetListeLien ul span{
					text-align : left ;
				}
				#FullDecoBottom .widgetListeLien ul span.widgetLienDate{
					padding-right : 20px ;
				}
				#FullDecoBottom .widgetListeLien.presse ul span.widgetLienDate{
					display : none ;
				}
				#FullDecoBottom .widgetListeLien ul span.widgetLienLink a{
					color : #333; 
				}
				
			#FullDecoBottom .widgetListeLien div:last-child{
				font-size:0.7em;
				text-transform : uppercase ;
				padding : 15px 5px 5px;
				color : #333; 
			}
				#FullDecoBottom .widgetListeLien div:last-child a{
					color : #333; 
				}
			#FullDecoBottom .widgetListeLien.agenda h3 + div {
				/* font-size : 0.7em ; */
				text-align : left ;
				height: 190px;
				overflow-y: hidden;
			}
				#FullDecoBottom .widgetListeLien.agenda h3 + div p{
					padding : 0 ;
				}
				#FullDecoBottom .widgetListeLien.agenda h3 + div > *{
					display : none ;
				}
				#FullDecoBottom .widgetListeLien.agenda h3 + div > *:first-child{
					display : block ;
				}
				@media (min-width:970px) and (max-width:1200px){ 
					#FullDecoBottom .widgetListeLien *{
						transition : all 0.3s ;
					}
					#FullDecoBottom .widgetListeLien h3{
						font-size: 15px;
						padding: 35px 0 28px 70px;
					}
				}
				@media(max-width:970px){
					#FullDecoBottom #pdf .flexH , #FullDecoBottom .widgetListeLien{
						display : block ;
						
					}
					#FullDecoBottom .widgetListeLien{
						font-size : 18px;
						width : 400px ;
						max-width: 100%;
						margin : 20px auto;
						box-sizing : border-box;
					}
					#FullDecoBottom .widgetListeLien.agenda h3 + div, #FullDecoBottom .widgetListeLien ul,#FullDecoBottom .widgetListeLien .etoile{
						display: none;
					}
				}
				.etoile {
					float: left;
					font-style: italic;
					text-transform: lowercase;
				}
		
		
		#txt .half.photo {
			background: transparent url(../../images/photo.jpg) center no-repeat;
			background-size: cover;
			min-height: 664px;
		}
		#rch {
			padding: 20px 0;
		}
		#rch input[type="search"] {
			vertical-align: top;
			margin: 7px 0 0px 20px;
			width: 398px;
			height: 37px;
			box-sizing: border-box;
			border: 1px solid #526423;
			font-size: 18px;
			font-weight: 400;
			padding: 5px;
		}
		#rch input[type="submit"] {
			vertical-align: top;
			height: 37px;
			margin: 7px 0 0;
			border: 1px solid #526423;
			border-left-width: 0;
			background: #526423 !important;
			color: #fff !important;
			box-sizing: border-box;
			padding: 0 10px;
			font-size: 18px;
		}
		ol li{
			margin : 10px 0 ;
		}
		#pdf {
			padding: 33px 0 50px;
		}
		#fin {
			padding: 49px 0;
			background: #ffef0b;
		}
		#fin .half:first-child {
			border-right: 1px solid #000;
		}
		#fin .half:last-child {
			box-sizing: border-box;
			padding-left: 86px;
			text-align: left;
		}
		#fin .half:last-child img {
			margin: 5px;
		}
		#fin .page {
			max-width: 1132px;
			margin: auto;
		}
		#fin .page, #val .page, #FooterDecoBottom .page {
			max-width: 1200px;
			margin: auto;
		}
		#val {
			background: #4b701b url(../../images/bg.jpg) center bottom no-repeat;
			padding: 50px 0 0px;
		}
		#val #valeurs li {
			list-style-type: none;
		}
		#val #valeurs li span {
			display: block;
			color: #fff;
			font-size: 27px;
			text-align: center;
			max-width: 511px;
			line-height: normal;
			margin: auto;
			font-weight: 400;
    font-style: italic;
		}
		#FooterDecoBottom {
			background: #4b701b;
			padding: 20px;
		}
		#FooterDecoBottom ul {
			list-style-type: none;
		}
		#FooterDecoBottom ul li a {
			color: #fff;
			font-size: 14px;
			line-height: 30px;
			transition: all 0.3s;
		}
		#FooterDecoBottom ul li a:hover {
			text-decoration: none;
			color: #ffff00;
			transition: all 0.3s;
		}
			#FooterDecoBottom li.page1,#FooterDecoBottom li.page2{display:none;}
		.bourse {
			text-align: right;
			display: inline-block;
			position: absolute;
			bottom: -82px;
			right: 85px;
			transition: all 0.3s;
			background: rgba(22, 22, 22, 0.57);
		}
		.bourse:hover {
			background: rgba(22, 22, 22, 0.9);
			transition: all 0.4s;
		}
		.bourse a {
			vertical-align: middle;
			display: block;
			line-height: 0;
		}
		.bourse a:hover {
			text-decoration: none;
		}
		.bourse img {
			max-width: 100%;
		}
		.bourse.peapme {
			right: 0;
		}
		#fleche {
			position: absolute;
			bottom: 15px;
			margin: auto;
			z-index: 98;
			text-align: center;
			display: inline-block;
			left: calc(50% - 28px);
			transition: all 0.4s;
		}
		#fleche:hover {
			transition: all 0.4s;
			bottom: 8px;
		}
		.part_contain {
			text-align: left;
		}
		span.infor {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 2%;
			text-align: center;
			transition: all 0.3s;
		}
		span.infor a {
			display: flex;
			align-items: center;
			height: 75px;
			padding: 50px 35px;
			vertical-align: top;
			background: #ebe9e9;
			text-align: center;
			color: #486516 !important;
			font-weight: 400 !important;
			font-size: 20px;
			font-weight: 400;
			transition: all 0.3s;
		}
		span.infor a span strong {
			font-weight: 400 !important;
		}
		span.infor a span {
			flex: auto;
		}
		span.infor a:hover {
			text-decoration: none;
			background: #ebe063;
			color: #486516 !important;
			text-decoration: none;
			transition: all 0.3s;
		}
		a.back {
			background: #ebe9e9;
			padding: 12px 18px;
			font-size: 16px;
			color: #486516 !important;
			transition: all 0.3s;
		}
		a.back:hover {
			text-decoration: none;
			background: #ebe063;
			transition: all 0.3s;
		}
		
		#ariane{font-size:0.9em;font-weight:normal;}
			#ariane .ariane a,#ariane .ariane a:hover,#ariane .ariane a:visited{
				color: #949c73;
				font-weight: 300;
				font-size: 14px;
			}
			#ariane .ariane a:hover {
				color: #333;
				text-decoration: none;
			}
			#ariane .ariane a img{padding:0 5px ;}
			#ariane .arianeSepare{
				padding: 0 7px;
				color: #949c73;
				font-weight: 300;
				font-size: 14px;
			}
				
/* Couleur de texte */
	#signature .BottomFontText,#signature .BottomFontText a, .signature * {color: #ffffff ;}
	#contain, .galerie, .BodyFontText{color: #333;}
	#contain a{
		color: #4b701b;
		transition: all 0.3s;
	}
	#contain a:hover {
		text-decoration: none;
		background: rgba(255, 255, 0, 0.4);
		transition: all 0.3s;
	}
	
#contain .article li, #contain .lien li {
		list-style-type: none;
		padding-left: 22px;
		background: transparent url(../../images/bullet.png) left 4px no-repeat;
		margin-bottom: 8px;
	} 
/* 	#contain li {
		list-style-image: url(../../images/bullet.png);
		background: #426d3159;
		margin-bottom: 8px;
		list-style-position: outside;
	} */
	/* li:before {
		content: '• ';
    color: #ffff00;
    color: rgba(255, 255, 0, 0.4);
    font-size: 28px;
    font-weight: 900;
    padding-right: 4px;
    display: inline-block;
    vertical-align: bottom;
	} */
/* Titres */
	h1,h2,h3,h4,h5,h6,.BodyFontSubTitle, .BodyFontTitle, legend, .boxTitle{line-height:1.2em;color : #000 ;}
	h1,h2,h3,h4,h5,h6,.BodyFontSubTitle, .BodyFontTitle {padding:5px 0px ;}
	
	h1 {	font-size:1.25em;}
	#FullDecoTop h1 {
		text-align: center;
		position : absolute ;
		width : 100% ;
		bottom : 0px ;
		padding : 0 ;
		margin : 0 ;
	}
	/*#FullDecoTop h1 span {
		font-size: 45px;
		font-weight: 900;
		color: #4a6725;
		padding-left: 80px !important;
		padding-right: 50px !important;
		padding-bottom: 20px !important;
		padding-top: 24px !important;
		background: #fff url(../../images/pucee.png) 27px 10px no-repeat;
		background: rgba(255, 255, 255, 0.66) url(../../images/pucee.png) 27px 10px no-repeat;
		margin-bottom: 0;
		text-align: center;
		display: inline-block;
		border-radius: 2px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}*/
	#FullDecoTop h1 span {
		position: absolute;
		bottom: 110px;
		background: rgba(22, 22, 22, 0.57);
		width: 48%;
		box-sizing: border-box;
		padding: 20px 32px;
		text-align: right;
		color: #fff;
		font-style: italic;
		font-size: 49px;
		font-style: italic;
		color: #fff;
		display: block;
		line-height: normal;
		font-weight: 400;
	}
	#contain h2 span,#contain .BodyFontTitle, #FullDecoBottom h2 span{
		font-size: 28px;
		font-weight: 400;
		text-align: left;
		margin-bottom:25px;
		color: #4a6725;
		padding-top: 5px;
	}
	.home #contain h2 span,#contain .BodyFontTitle, .home #FullDecoBottom h2 span{
		background:transparent url(../../images/puce.png) left top no-repeat;
		padding-left: 40px;
	}
	.lien h2 span {
		color: #4b701b !important;
		font-size: 21px !important;
	}
	.lien h2 {
		margin: 20px 0 !important;
	}
	#contain span.BodyFontTitle,#contain legend.BodyFontTitle {border-width: 0px; /* margin-bottom: 0px; */}
	h3, .BodyFontSubTitle {
		font-size: 23px;
		font-weight: 400;
		padding-left: 0px;
		background:transparent;
		margin-bottom:25px;
		color: #4a6725;
		padding-top: 0;
	}
	h4 {
		font-size: 40px;
		text-align: center;
		color: #fff;
		font-weight: 400;
		margin-bottom: 10px;
	}
	h5 {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: 400;
		margin-bottom: 35px;
	}
	#FooterDecoBottom h5 {
		color: #fff;
		font-size: 18px;
		line-height: 40px;
		transition: all 0.3s;
		text-transform: none;
		text-align: left;
		margin-bottom: 0;
	}
	#page83 h3, #page84 h3, #page85 h3, #page86 h3, #page87 h3 {
		color: #e1e1e1 !important;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
	}
	#page35 h6, #page48 h6  {
		display: inline-block;
		margin: auto;
		width: 100%;
		background: #4b701b;
		color: #fff;
		padding: 5px 0;
		font-weight: 300;
		text-transform: none;
	}
	legend{}
	fieldset{
		width : 90%;
		margin : auto ;
		border-width : 0px ;
	}
	
	b,strong{
		font-weight : bold ;
	}
	p.min {
		font-size: 13px;
		font-style: italic;
		color: #929292;
	}
	.bloc_double > div {
		padding: 0 20px;
	}
/* Images */
	.article_image img,.vignette img,.image img,.lien_url img{
/* 		box-shadow : 2px 2px 2px #888 ;
		box-shadow : 2px 2px 2px rgba(0,0,0,0.2);  */
	}
	#page40 .article_image img, #page40 .image img, #page39 .article_image img, #page39 .image img, #page35 .article_image img, #page35 .image img, #page24 .article_image img, #page24 .image img, #page26 .article_image img, #page26 .image img, #page25 .article_image img, #page25 .image img {
		box-shadow : inherit;
	}
	
	.article.article_gauche img {margin: 10px 30px 0 0;}
	.article.article_droite img {margin: 10px 0 0 30px;}
	.article .article_image + p,.article p:first-child{} /* Agir sur le premier <p> de chaque bloc Article */
	
/* Formulaire */
	.button,input.button[type="submit"] , .box .button {color: #fff !important;	background: #4b701b !important; font-weight : bold ; padding : 2px 3px ;}

	
/*********************************************************************************************************************************************/	
/* WIDGET GLOBAL    **************************************************************************************************************************/
/*********************************************************************************************************************************************/	


	.widget aside{ /* Englobe tout le widget */
	/* 	background : #094686;
		box-shadow : 0px 0px 3px #000 ; */
	}
	.box {background : transparent;} /* Agir sur tout les éléments "box" */
	.box *, .box{color:#fff;} /* Couleur d'écriture de tout les éléments "box" */
	.box.box_top{
		height : 30px ;
		background : transparent;
		vertical-align:top;
	} /* Régis tout les haut de boite */
	.box.box_top strong.boxTitle, .box strong.boxTitle{
		padding: 0px 0 0 0px;
		color: #fff;
		background: transparent;
		border-width: 0px;
		font-size: 1.1em;
		display: block ;
		font-weight: normal;font-size: 17px;
	} /* Régis tous les titres des boite */
	#leftbar .box_top+.box,#rightbar .box_top+.box{
	/* 	padding-top : 5px ;
		padding-bottom : 5px ; */
	}
	.box h3{
		padding: 0 5px; 
		color: #929292;
		background: transparent;
		border-width: 0px;
		font-size: 1em;
	} /* Régis les titres des boites actus et coordonnées */
	.box.box_bottom{
		height: 10px; background: transparent;
	} /* Régis tous les bas de boite */
	div.boite_separer{
		height: 0px; background: transparent;
	}/* Permet de mettre en style la séparation entre les boites */
	
	#footer #footerContent .widget{ /* Base pour intégrer les widgets en bas de page */
	/* 	padding : 0 ;
		display : inline-block;
		height : 162px;
		margin : 0 10px ;
		text-align:justify; */
	}

	
/*********************************************************************************************************************************************/	
/* NAVIGATION  *******************************************************************************************************************************/
/*********************************************************************************************************************************************/	


	/* Liens du menu */
	li a.MenuHyperlink, li a.MenuHyperlinkSelected {
		color: #fff;
		font-size: 17px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}
	li a.MenuHyperlinkSelected > span, li a.MenuHyperlink:hover > span, #navigationH .navigation1 li.level1:hover>a.MenuHyperlink >span{
		text-decoration : none !important;
		color: #ffff00 !important;
	}
/* Comportement des liens de 2e niveaux */
	.navigation2 .MenuHyperlink, .navigation2 .MenuHyperlinkSelected {
		background-image : none ;
		padding : 2px 0px 2px 7px ;
	}
	
	
/* NAVIGATION HORIZONTALE
	.box#navigationH : Régis le tableau de navigation
	.box#navigationH .box.nav_top : Régis le bas de la navigation
	.box#navigationH .box.nav_bottom : Régis le bas de la navigation
	.box#navigationH td : Régis chaque ligne de la navigation
*/
	.box#navigationH{background:transparent url(../../images/navigation.png) no-repeat top left ;height :23px;position:relative;padding:0px 11px 0px ;text-align:center;}
	.box#navigationH{background:transparent;height :23px;position:relative;padding:15px 11px 8px;text-align:center;}
	.box#navigationH ul.ul_nav.navigation1{display:inline-block;}
	.box#navigationH .nav_top{/*height : 20px ;background : transparent url(../../images/nav_top.png) no-repeat bottom left ;*/}
	.box#navigationH .nav_bottom{/*height : 20px ;	background : transparent url(../../images/nav_bottom.png) no-repeat top left ;*/}
	.box#navigationH li{ 
		background : transparent ;
		padding : 0px ;
		height : auto;
		display : inline-block ;
	}
	.box#navigationH td img{display: inline; padding-right: 3px;}
	 
	/* NAVIGATION SOUS MENU HORIZONTALE */
		#navigationH .navigation1 li ul{
			background : rgba(75,112,27,0.75);
			z-index : 99999 ;
			width: 298px;
			padding-bottom: 1px;
		}
		#navigationH .navigation1 li ul li:last-child a {
			border-bottom-width: 0px;
		}
		#navigationH .navigation1 li ul a{
			border-bottom: 1px solid #fff;
			color: #fff;
			padding: 5px 9px;
			margin: 0 10px;
		}
		#navigationH .navigation1 li.level1 ul.navigation2{
			margin-left : 0px ; /* A modifier pour aligner verticalement le sous menu à la rubrique parente */
		}
		#navigationH ul.navigation1 li.level1  a.alevel1{
			padding-bottom : 17px ; /* A modifier pour régler l'espace entre la navigation level1 et le sous menu */
		}
		#navigationH .navigation1 li ul ul 
		{
			margin : 0px 0 0 298px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */  
			margin-top : -32px; /*  A modifier pour aligner le haut des sous menu à la rubrique parente */  
		}
		.box#navigationH li.level1{
			text-align : left ;
			padding-right : 20px ;
			padding-left : 20px ;
		}
		 .box#navigationH li.level1 +li.level1{
			padding-left : 19px ;
			padding-right : 20px ;
		}
		#navigationH .navigation1 li ul a:hover, #navigationH .navigation1 .level1 li:hover>a /* Lorsque la souris passe sur un des liens */    
		{
				color: #000; /* On passe le texte en noir... */
				background: #bdbebe; /* ... et au contraire, le fond en blanc */
		}
		#navigationH .navigation1 li ul /* Sous-listes */
		{ 
		}

		#navigationH .navigation2 li a.MenuHyperlink span {
			color: #fff !important;
		}
		#navigationH .navigation2 li a.MenuHyperlinkSelected:hover  span{
			color: #ffff00 !important;
		}
		
		
/* NAVIGATION VERTICALE 
	.box#navigation : Régis le tableau de navigation
	.box.nav_top : Régis le bas de la navigation
	.box.nav_bottom : Régis le bas de la navigation
	.box#navigation td : Régis chaque ligne de la navigation
*/
	.box#navigation{background:transparent url(../../images/nav.png) repeat-y top left ;}
	.box.nav_top{height : 15px ;background : transparent url(../../images/nav_top.png) no-repeat bottom left ;}
	.box.nav_bottom{height : 20px ;	background : transparent url(../../images/nav_bottom.png) no-repeat top left ;}
	.box#navigation li{
		background : transparent ;
		vertical-align : top ;
		padding-top : 5px ;
	}
	.box#navigation td img{display: inline; padding-right: 3px;}

	.box#navigation li.level1{
		background : transparent url(../../images/nav_separe.png) bottom center no-repeat ;
		padding-bottom : 3px ;
	}

	
/*********************************************************************************************************************************************/	
/* WIDGETS INTEGRATION SPÉ *******************************************************************************************************************/
/*********************************************************************************************************************************************/	

	/* Permet de travailler spécifiquement sur la boite concernée */
/* COORDONNEES */
	div.coordonnees aside{}
	div.coordonnees .box#Coordonnee_mobile{}
	div.coordonnees .box.box_top{display: none;}
	div.coordonnees .box.box_bottom{}
	#banner .coordonnees{top : 35px ;right : 20px ;position : absolute;} /* Placement de Coordonnées si == top */
	#footer .coordonnees{top : 0px ;right : auto ;position : relatif;width:100%;text-align:center;} /* Placement de Coordonnées si == bottom */
	#footer div.coordonnees .box{background : transparent;color:#fff;}
	#footer div.coordonnees  strong.boxTitle{display:inline;color:#fff;}
	#ContainDecoBottom .widget.coordonnees{width : 223px ;}
	#ContainDecoBottom div.coordonnees .box.box_top{background-image:url(../../images/box_top_coord.png);}
	#ContainDecoBottom div.coordonnees .box.box_bottom{background-image:url(../../images/box_bottom_coord.png);}
	#ContainDecoBottom .widget.coordonnees h3{display:none;}
	.coordonnees {
		/* margin: 20px auto 0; */
	}	
	.coordonnees .box {
		color: #fff !important;
		text-align: left;
	}
	#FooterDecoBottom .box.box_top strong.boxTitle, .box strong.boxTitle{
		display: inline-block;
		display: none;
	}
	#FooterDecoBottom .coordonnees .box h3 {
		display: none;
	}
	.box#Coordonnee {
		font-size: 14px;
	}

/* ACTUALITE */	
	div.actualites .box#actu{}
	div.actualites .box.box_top{} 
	div.actualites .box.box_bottom{}
	.headline a.savoir_plus {
		padding-left : 10px ;
		background : transparent url(../../images/savoir_plus.png) left center no-repeat ;
		float:right;
		margin-right:5px;
	}
	#ContainDecoBottom div.actualites .box#actu{background-image:url(../../images/box_actu.png);height:115px;overflow-y:hidden;padding:0 10px;}
	#ContainDecoBottom .widget.actualites {width : 365px ;margin-left : 0px ;} 
	#ContainDecoBottom div.actualites .box.box_top{background-image:url(../../images/box_top_actu.png);} 
	#ContainDecoBottom div.actualites .box.box_bottom{background-image:url(../../images/box_bottom_actu.png);}
	
	/* Intérieur du widget Actualité */
	#actu{/* height: 110px; */}
	#scrollup, .headline{
		height: 200px;
		padding : 0 ;
		text-align : left ;
	}
	#scrollup {
		position: relative;
		border: 0px solid #000;
	 }
	 
	#scrollup2 {
		display : block ;
	}
		#scrollup2:after {
			content : " " ;
			display : block ;
			clear : both ;
		}
		#scrollup2 li{
			display : block ;
			float : left ;
		}
	
	.headline {
		overflow-y:hidden;
	}
		.headline p {
			padding : 0 ;
		}
	 
	#actu .bx-wrapper .bx-viewport{
		background : transparent ;
	}
	.headline img, .eventline img{
		float : left ;
		padding-right: 5px ;
		max-width : 50px ;
		max-height : 50px ;
		position : relative ;
		top :15px ;
	}
	.headline strong,.eventline strong{
		padding-left : 0px ;
		background : transparent ;
		clear : both ;
		display:block;
	}
	 

/* NEWSLETTER */
	#banner .newsletter{
		top : 0px ;
		right : 0px ;
		position : absolute;
		max-width: 205px;
		background : transparent ;
	}
	#banner .newsletter aside{
		/* background : transparent ;
		box-shadow : none; */
	}
	div.newsletter #Newsletter{}
	div.newsletter #Newsletter_mobile{}
	div.newsletter #Newsletter .news_label{color:#fff!important;display:inline-block!important;float:none;}
	div.newsletter #Newsletter .news_submit{color:#000!important;position:relative;top:0px;}
	div.newsletter #Newsletter input[type="email"]{color:#000!important; width:150px;}
	#ContainDecoBottom div.newsletter #Newsletter{background-image:url(../../images/box_newsl.png);height:115px;overflow-y:hidden;padding:0 10px;}
	#ContainDecoBottom .widget.newsletter{width:291px;margin-right:0px;}
	#ContainDecoBottom div.newsletter .box.box_top{background-image:url(../../images/box_top_newsl.png);} 
	#ContainDecoBottom div.newsletter .box.box_bottom{background-image:url(../../images/box_bottom_newsl.png);} 




	
/*********************************************************************************************************************************************/	
/* DIVERS / DECO / DRAPEAUX / AJOUT SPÉ   ****************************************************************************************************/
/*********************************************************************************************************************************************/	
.mob{display: none;}

/* Si utilisé dans deco de parametres.php */
#facebook{padding:5px;}
	#facebook a,#facebook a:hover{
		color : #333;
		text-decoration : none;
	}
	#facebook a img{
		vertical-align : middle ;
	}
	

	#deco{
		margin-top:10px ;
	}

	/* MULTI LANG */
	#drapeaux {
    /* display: none; */
		position : absolute ;
		right : 20px ;
		top : 55px ;
	}
	#drapeaux img.activeLang{
		filter: alpha(opacity=100);
		opacity: 1;
		border-width: 0;
	}
	#drapeaux img{
		max-height : 20px ;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
		



.ul_nav_sitemap li a{ /* Puce pour les liens de la page sitemap */
	background : transparent ;
	padding-left : 3px ;
}
.ul_nav_sitemap{
	list-style : square ;
	padding-left : 20px ;
	font-weight : normal ;
}
.ul_nav_sitemap a {
	font-weight : normal!important ;
}
	.ul_nav_sitemap a:hover {
		text-decoration : underline ;
	}

/* Partenaire */
.url_partenaire_url{
	float : left ;
	width : 200px ;
	height : 120px ;
	overflow : hidden ;
	text-align : center  ;
	padding : 10px ;
}

/* Pop Up viticole */
.popupViticole{
	padding : 20px 10px;
	color : #fff ;
	font-size : 1.4em;
}
	.popupViticole strong{
		padding : 0 0 5px 0 ;
		display : inline-block;
	}

/* Réseaux Sociaux */
#socialshare.box{
	position : fixed ;
	width : 135px ;
	top : 10% ;
	right : -135px ;
	display : block ;
	background : #e5e5e5 url(../../images/partage_share.png) left center no-repeat ;
	padding-left : 20px ;
}
	#socialshare.box:hover{
		right : 0px ;
	}
	
#socialshare.line{
	position : relative ;
	max-width : 100% ;
	display : block ;
	background : transparent;
	padding : 10px 0 ;
}
	#socialshare.line ul{
		margin-left : 0 ;
		text-align : center ;
	}
	#socialshare.line .social_share_privacy_area.line li .dummy_btn{
		padding-left : 0 ;
		margin : 1px;
	}
	#socialshare.line .social_share_privacy_area.line li {
		display : inline-block ;
		float : none ;
	}


.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label,
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset,
.social_share_privacy_area li.settings_info .settings_info_menu form {
	float : none ; 
	width : auto ;
	padding : inherit ;
	text-align : left ;
}

/*****************************************************************/
/* CONTACT   *****************************************************/
/*****************************************************************/
div#RightForm {
	width: 45%;
	float: left;
	margin: 20px 0;
	padding: 35px 2%;
	background: transparent;
	padding-bottom: 30px;
}

div#RightForm.RightForm2 {
	width: 45%;
	float: left;
	margin: 20px 0;
	padding: 0px 2%;
	background: transparent;
	padding-bottom: 30px;
}

div#LeftForm {
	width: 35%;
	float: left;
	margin: 20px 0;
	padding: 0 8% 40px;
}
.form2cols input[type="text"],.form2cols input[type="password"],.form2cols input[type="date"],.form2cols input[type="datetime"],.form2cols input[type="datetime-local"],.form2cols input[type="month"],.form2cols input[type="week"],.form2cols input[type="email"],.form2cols input[type="color"],.form2cols input[type="number"],.form2cols input[type="search"],.form2cols input[type="tel"],.form2cols input[type="time"],.form2cols input[type="url"],.form2cols input[type="file"] ,.form2cols textarea,.form2cols select {
	min-width: 100px;
	border: 1px solid #00204B;
	padding: 6px;
	margin: 5px 0;
	width: 100%;
	font-size: 14px;
	box-sizing: border-box;
	min-height: 35px;
}
.form2cols select, .form2cols select option {
	height : 36px ; 
	width: 284px;
}
.form2cols label{
	text-align : left;
	width: auto;
}

.form2cols .button,.form2cols  input.button[type="submit"],.form2cols  .box .button {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	width: 100%;
	height: 34px;
	margin: 0;
}
.form2cols fieldset{
	padding : 0 ;
	width : 100% ;
}

.RGPD {
    text-align: justify;
    font-size: 0.8em;
    line-height: normal;
    /* width: 270px; */
}
input#RGPD {
    display: inline;
    padding: 0;
    margin: 0;
    height: auto;
    top: 6px;
}
label[for="RGPD"] {
    display: inline !important;
    text-align: justify !important;
}


/*****************************************************************/
/* ONEPAGE   *****************************************************/
/*****************************************************************/
.onepage{
	background : #fff ;
	min-height : 100vh; /* Permet d'avoir chaque segment faisant au moins 100% de la hauteur de l'écran */
}
	.onepage .onepage_content{ /* permet de center l'ensemble du contenu dans l'élément si ce dernier est initialement plus petit que l'écran */
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		top: 50vh;
		transform: translateY(-50%);
		box-sizing: border-box;
	}

	
/* Exemple CSS alternatif fond + couleur
	.onepage:nth-child(2n){background : #000 ;}
	#contain .onepage:nth-child(2n) ,.onepage:nth-child(2n) .galerie,.onepage:nth-child(2n) .BodyFontText{color: #fff;}
	#contain .onepage:nth-child(2n) a{color:#fcdd09;}
	.onepage:nth-child(2n) h1,.onepage:nth-child(2n) h2,.onepage:nth-child(2n) h3,.onepage:nth-child(2n) h4,.onepage:nth-child(2n) h5,.onepage:nth-child(2n) h6,.onepage:nth-child(2n) .BodyFontSubTitle,.onepage:nth-child(2n) .BodyFontTitle,.onepage:nth-child(2n) legend,.onepage:nth-child(2n) .boxTitle{color : #fcdd09;}
*/
	
/*********************************************************************************************************************************************/	
/* BLOC FW  ***** PLACER ICI LES THEMES ET CLASS PROPRE AU PROJET ****************************************************************************/
/*********************************************************************************************************************************************/	

.bfw1{background-color:#fff;}
.bfw2{
	background : #fff center top no-repeat scroll;
	background-size : cover ;
	padding : 100px 0 ;
}
.bfw3{
	background : #fff center center no-repeat ;
	background-size : cover ;
}
.bloc_fw.intro{
	background : #796e6d center bottom no-repeat ;
	background-size : cover ;
}
	
/*********************************************************************************************************************************************/	
/* RESPONSIVE  *******************************************************************************************************************************/
/*********************************************************************************************************************************************/	


@media (max-width: 740px) { /* Inscrire ici la largeur de la zonde de contenu */
	/* .poweredby{color:#000;display:block;margin:auto ;}
	#signature .BottomFontText,#signature .BottomFontText a, .signature * {color: #000 ;}
	#contain, .galerie, .BodyFontText{color: #000;}
	#contain a{color:#f00; font-weight:bold;}
	h1,h2,h3,h4,h5,h6,.BodyFontSubTitle, .BodyFontTitle, legend{color : #000 ;}
	h1,h2,h3,h4,h5,h6,.BodyFontSubTitle, .BodyFontTitle {padding:5px 0px ;} */

	body #footer img.mobile_only{
		display:block !important;
	}
	
	#site #LeftForm, #site #RightForm{
		float : none ;
		clear : both ;
		margin : 10px auto ;
		padding : 0 0px ;
		box-sizing : border-box ;
		width : 100% ;
		max-width : 100% ;
		text-align : center ;
	}
	form fieldset{
		padding : 0 ;
	}
	/* #footer{
		background : #000 ;
	} */

	/* body{
		background : #000;
	} */
}

@media (max-width: 1200px) { 
	.half.texte {
		padding: 15px 20px 15px 20px;
		font-size: 16px;
	}
	#map #Calque_1 {
		height: inherit;
		min-height: 400px;
	}
	#FullDecoBottom .widgetListeLien {
		width: 33%;
		min-width: 270px;
		margin: 0;
	}
	#FullDecoBottom .widgetListeLien {
		min-width: 270px;
		margin: 10px auto;
	}
}
@media (min-width:970px) and (max-width:1200px){ 
	.decoslide span:first-child {
		padding-right: 15px;
	}
	.decoslide span {
		font-size: 34px;
		transition : all 0.3s ;
	}
	#anim8 .decoslide span:first-child {
		padding-right: 40px;
	}
	#anim9 .decoslide span:first-child {
		padding-right: 90px;
	}
	#FooterDecoBottom {
		padding: 20px;
	}
	span.infor a span strong {
		font-weight: 400 !important;
		font-size: 16px;
		line-height: normal;
	}
	#headerSlide .decoslide {
		width: 64%;
	}
	#headerSlide #anim8 .decoslide {
		width: 41%;
	}
	#headerSlide #anim9 .decoslide {
		width: 47%;
	}
	#FullDecoTop h1 span{
		font-size : 39px ;
		transition : all 0.3s; 
	}
	ul.ul_nav.navigation1 {
		margin-left: 70px !important;
	}
	.box#navigationH li.level1 +li.level1 {
		padding-left: 9px;
		padding-right: 10px;
	}
	#FullDecoTop h1 span {
		width: 60%;
	}
	.half.texte {
		padding: 20px 15px 0px 15px;
		font-size: 14px;
	}
	#FullDecoBottom .texte div {
		margin-top: 0px;
	}
}

@media (max-width: 970px) {
	span.infor a {
    padding: 30px 10px;
    font-size: 14px;
}
#drapeau {
	position : relative !important;
	text-align : left ;
	padding : 3px 0 ;
}
#drapeau img {
	display : inline-block !important;
	height : 20px ;
}
#mobile_banner .h1 img{
	margin : 0px;
}
#map {
	display: none;
}
#mapmob {
	display: block;
}

	#FullDecoTop h1 span{
		font-size : 25px ;
		position : relative ;
		bottom : inherit ;
		width : 100% ;
		transition : all 0.3s; 
	}
#headerSlide{border-top: 15px solid #4b701b;margin-top: 10px;}

#headerSlide .decoslide {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    box-sizing: border-box;
    padding: 5px !important;
    text-align: center;
}
.decoslide span, .decoslide span:first-child {
    padding: 5px !important;
    font-size: 28px;
    font-style: italic;
    color: #fff;
    display: inline-block !important;
    line-height: normal;
    font-weight: 400;
	transition : all 0.3s ;
}
#fleche {
    display: none;
}
.half {
    display: inline-block;
    width: 100%;
    min-height: inherit !important;
    vertical-align: middle;
    margin: auto;
    max-width: inherit !important;
    padding: 30px !important;
    box-sizing: border-box;
}
#FullDecoBottom .texte div {
    text-align: center;
    margin-top: 0px;
    width: 50%;
     padding: 0 !important;
}
#FullDecoBottom .texte img {
    margin: 20px;
}
#txt .half.photo {
    min-height: 70vh !important;
}
#idm img, #tcle img {
    max-width: 50px;
}
h6 {
    font-size: 18px;
}
#mapmob {
    background: #ebe9ea;
    padding: 20px 0px;
}
.pays {
    display: inline-block;
    width: 28.3%;
    vertical-align: top;
    background: #4a701b !important;
    height: 80px;
    margin: 1.5%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}
#mapmob .pays a {
	text-align : center ;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    line-height: 80px;
}
#mapmob .pays a:hover {
    text-decoration: none;
}

	html body{
		background-position : center 57px; 
		padding:57px 0 0; /* par defaut 0 1% => voir en fonction des sites */
	}
	#footer img.mobile_only{
		display:none !important;
	}
	#container{
		background : #fff ;
	}
	.mob{display: block;}
	fieldset{
		border-width : 0px ;
	}
	form fieldset label{
		text-align : center !important;
		max-width : 100% ;
		width : 100% ;
	}
	div#RightForm, div#LeftForm {width: 98%; float: none; padding: 1%; text-align: center; border: none;}
	/* Pour modifier la couleur du texte de toutes les boîtes RWD */
	#RWDMenu .box *, #RWDMenu .widget *, #RWDMenu .box h3, #RWDMenu #coordM #coordContainer *, #RWDMenu #newsletM #newsletContainer {color: #000 !important;} 
	.actu .article {padding-top: 0px !important;}
	
	span.vignette img {
		padding: 0 !important;
	}
/* HACK RWD TOOLBAR => Pour modifier les couleurs du RWD */	
	#RWDMenu #toolbar{
		background: #4b701b!important ; /* Couleur du Toolbar */
	}
	 
	#RWDMenu #navigationM, #RWDMenu #newsM, #RWDMenu #newsletM, #RWDMenu #coordM, #RWDMenu #toolsM, #RWDMenu #cartM, #RWDMenu #searchM{
		background: #ebe9ea!important ;/* Couleur des boites et Menu RWD */
	}
	
	#RWDMenu .MenuHyperlink{ /* Comportement du lien dans la navigation */
		color : #000 !important ;
	}
	#RWDMenu .MenuHyperlinkSelected{ /* Comportement du lien dans la navigation */
		color : #000 !important ;
	}
	#RWDMenu #newscpt, #RWDMenu #cartcpt, #RWDMenu #toolscpt{ /* Modification des puces compteurs Panier et Actu + "!" d'outils */
		background : #ffef0b !important ;
		color : #4b701b ;
		box-shadow : -1px 1px 1px rgba(0,0,0,0.5); 
	}
	#RWDMenu .box h3{ /* Comportement du titre des actu RWD */
		color : #4b701b ;
	}
	html #RWDMenu .button, html #RWDMenu input[type="submit"]{ /* Comportement des boutons et des submits (Newsletter / Recherche) */
		background : #4b701b !important ;
		color : #fff !important ;
	}
	#fin .page {
		max-width: 100%;
	}
	#fin .half {
		width: calc(50% - 1px);
		text-align: center;
	}
	#fin .half img {
		max-width: 100%;
	}
	#fin .half:last-child img {
		max-width: 40%;
	}
	#fin .half:last-child {
		padding-left: 0px;
		text-align: center;
	}
	#val #valeurs li span {
		font-size: 24px;
	}
	#val {
		background: #4b701b url(../../images/bg.jpg) center bottom no-repeat;
		background-size: contain;
		padding: 0px 0 0px;
	}
	#cle {
		padding: 50px 0;
		margin-bottom: 20px;
	}
	#FullDecoBottom .widgetListeLien {
		width: 50%;
		min-width: 270px;
		margin: 10px auto;
	}
	#FullDecoBottom .widgetListeLien div:last-child {
		padding: 0px 5px 5px;
	}
	#FullDecoBottom .widgetListeLien h3 {
		margin-bottom: 0;
	}
	.bourse {
		top: 0;
	}
	#drapeau {
		position: relative !important;
		text-align: left;
		margin-left: 135px;
		top: -18px;
	}
	#containers {
		padding: 20px 0;
	}
	
	#FullDecoTop {
		height: 250px;
	}
	.article.article_droite img, .article.article_gauche img {
		margin: 5px 0 !important;
	}
}

@media (max-width: 700px) { 
	.pays a {
		font-size: 20px;
	}
	#val .half {
		padding: 10px !important;
	}
	#cle img {
		max-width: 50%;
		margin: 15px auto;
	}
	#FullDecoBottom .widgetListeLien {
		width: 65%;
		margin: 10px auto;
	}
	#fin .half:first-child {
		border-right: 0px solid #000;
	}
	.col {
		width: 100%;
		margin: 15px auto;
	}
}
@media (max-width: 600px) { 
	.pays a {
		font-size: 17px;
	}
	#val #valeurs li span {
		font-size: 18px;
	}
	#rch img {
		max-width: 36px;
		margin-top: 6px;
	}
	#rch input[type="search"] {
		width: 50%;
	}
	#FullDecoBottom .widgetListeLien h3 {
		font-size: 18px;
		background-size: 45px !important;
	}
	#FullDecoBottom .widgetListeLien.communiques h3 {
		padding-left: 55px;
	}
	
	#fin .half {
		width: 100%;
		text-align: center;
	}
	#FullDecoTop {
		height: 160px;
	}
	span.infor {
		width: 45%;
	}
}
@media (max-width: 500px) { 
	.pays {
		width: 40%;
		margin: 2.5%;
	}
	#drapeau {
		text-align: center;
		margin: 0 auto;
		top: -18px;
	}
	#mapmob .pays a {
		font-size: 18px;	
	}
}
@media (max-width: 400px) { 
	.pays a {
		font-size: 15px;
	}
	#cle img {
		max-width: 100%;
		margin: 10px auto;
	}
	#drapeau {
		top: -10px;
	}
	
	#FullDecoBottom .texte div {
		margin-top: 0px;
		width: 100%;
		 padding: 0 !important;
	}
}


[data-tooltip],[data-tooltip]:hover{cursor:pointer;}
[data-tooltip],[data-tooltip]{cursor:pointer;}
#tooltipContent {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#fff;
	border-radius:2px;
	padding:5px;
	color:#000;
	font-size:12px;
	z-index : 900 ;
	transition : all 0.3s ;
}
#tooltipContent ul {
	list-style-type: none;
	line-height: normal;
	text-align: center;
	font-size: 15px;
}
#goTop{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10vh;
    width: 50px;
    height: 50px;
    z-index: 9999999999999999999999;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.44);
    text-align: center;
    line-height: 60px;
	transition : all 0.3s ;
}
#goTop:hover {
	transition : all 0.3s ;
    line-height: 50px;
}



		#headerSlide .slide2,#headerSlide{
			height: calc(90vh - 236px);
		}
			.decoslide {
				width: 55%;
				position: absolute;
				bottom: 72px;
				left: 0;
				z-index: 999;
				transition : all 0.3s ;
			}
		@media(max-width:1200px){
			.decoslide {
				width: 55%;
				bottom: 109px;
				transition : all 0.3s ;
			}
		}
		@media(max-width:1400px){

			/* #headerSlide .slide2,#headerSlide{
				height: inherit;
			} */
		}
		@media(max-width:970px){
			#headerSlide,#headerSlide .slide2 {
				height: auto;
				max-height: calc(90vh - 296px);
			} 
			.decoslide {
				width: 100%;
				height: auto;
				line-height: 1.2em;
				bottom: 0px;
				transition : all 0.3s ;
				padding: 10px!important;
				box-sizing: border-box;
			}
		}
		@media(max-width:570px){
			.decoslide span, .decoslide span:first-child{
				font-size : 15px ;
				transition : all 0.3s ;
			}
		}