/* Gestion des comportements de module bloc fullwidth */

/*********************************************************************************************************************************************/	
/* BLOC FW  **********************************************************************************************************************************/
/*********************************************************************************************************************************************/	

/* Paramètres de base */
.bloc_fw,.bloc_fw .bloc_fw_content{
	position : relative ;
	z-index : 15 ;
	box-sizing:border-box;
}

	/* Taille de l'ensemble defaut : auto */
		.bloc_fw.vh100{min-height : 100vh;}
		.bloc_fw.vh75{min-height : 75vh;}
		.bloc_fw.vh50{min-height : 50vh;}
		.bloc_fw.vh25{min-height : 25vh;}
	
	/* Arrière plan */
		/* Background position defaut : réglé à cc */
		.bloc_fw.pbg_lt,.bloc_fw.pbg_lc,.bloc_fw.pbg_lb,.bloc_fw.pbg_lt .bloc_fw_slide li > div,.bloc_fw.pbg_lc .bloc_fw_slide li > div,.bloc_fw.pbg_lb .bloc_fw_slide li > div{background-position-x:left;}
		.bloc_fw.pbg_ct,.bloc_fw.pbg_cc,.bloc_fw.pbg_cb,.bloc_fw.pbg_ct .bloc_fw_slide li > div,.bloc_fw.pbg_cc .bloc_fw_slide li > div,.bloc_fw.pbg_cb .bloc_fw_slide li > div{background-position-x:center;}
		.bloc_fw.pbg_rt,.bloc_fw.pbg_rc,.bloc_fw.pbg_rb,.bloc_fw.pbg_rt .bloc_fw_slide li > div,.bloc_fw.pbg_rc .bloc_fw_slide li > div,.bloc_fw.pbg_rb .bloc_fw_slide li > div{background-position-x:right;}
		.bloc_fw.pbg_lt,.bloc_fw.pbg_ct,.bloc_fw.pbg_rt,.bloc_fw.pbg_lt .bloc_fw_slide li > div,.bloc_fw.pbg_ct .bloc_fw_slide li > div,.bloc_fw.pbg_rt .bloc_fw_slide li > div{background-position-y:top;}
		.bloc_fw.pbg_lc,.bloc_fw.pbg_cc,.bloc_fw.pbg_rc,.bloc_fw.pbg_lc .bloc_fw_slide li > div,.bloc_fw.pbg_cc .bloc_fw_slide li > div,.bloc_fw.pbg_rc .bloc_fw_slide li > div{background-position-y:center;}
		.bloc_fw.pbg_lb,.bloc_fw.pbg_cb,.bloc_fw.pbg_rb,.bloc_fw.pbg_lb .bloc_fw_slide li > div,.bloc_fw.pbg_cb .bloc_fw_slide li > div,.bloc_fw.pbg_rb .bloc_fw_slide li > div{background-position-y:bottom;}
		
		/* Background repeat defaut : repeat */
		.bloc_fw.repeatNo, .bloc_fw.repeatNo .bloc_fw_slide li > div{background-repeat:no-repeat;}
		.bloc_fw.repeatX, .bloc_fw.repeatX .bloc_fw_slide li > div{background-repeat:repeat-x;}
		.bloc_fw.repeatY, .bloc_fw.repeatY .bloc_fw_slide li > div{background-repeat:repeat-y;}
		
		/* Background attachment defaut : scroll */
		.bloc_fw.bgfixed,.bloc_fw.bgfixed .bloc_fw_slide li > div{background-attachment: fixed;}
		.bloc_fw.bgparallax,.bloc_fw.bgparallax .bloc_fw_slide li > div{background-attachment: fixed;}
		
		/* Background size */
		.bloc_fw.bgcover,.bloc_fw.bgcover .bloc_fw_slide li > div{background-size:cover;}
		.bloc_fw.bgcontain,.bloc_fw.bgcontain .bloc_fw_slide li > div{background-size:contain;}
		
		/* Gestion fonctionnement slide */
		.bloc_fw .bloc_fw_slide{
			height : 100% ;
			width : 100% ;
			padding : 0 ;
			margin : 0 ;
			position : absolute ;
			z-index : 1 ;
			top : 0 ;
			left : 0;
			min-height : 1px;
			min-width : 1px;
		}
			.bloc_fw .bloc_fw_slide .bx-wrapper,.bloc_fw .bloc_fw_slide .bx-wrapper .bx-viewport{
				height : 100% !important ;
				z-index : 1 ;
			}
			.bloc_fw .bloc_fw_slide ul,.bloc_fw .bloc_fw_slide li,.bloc_fw .bloc_fw_slide li > div{
				height : 100% ;
				width : 100% ;
				padding : 0 !important ;
				margin : 0 !important ;
				z-index : 1 ;
				background-color : transparent ;
			}
				.bloc_fw .bloc_fw_slide li > div img{
					visibility : hidden ;
				}
	
	/* Contenu */
	.bloc_fw_contain{
		max-width : 100% ;
		margin : 0 auto ;
		padding : 40px ;
		box-sizing : border-box ;
		/* border-radius:50%; */
		overflow : hidden ;
	}
		/* Arrière Plan */
		/* Defaut : transparent */
		
		.bloc_fw.translight .bloc_fw_contain{
			background-color : transparent ;
		}
		.bloc_fw.opaq .bloc_fw_contain{
			background-color : #fff ;
		}
		.bloc_fw.cdark .bloc_fw_contain{
			background-color : #000 ;
			background-color : rgba(0,0,0,0.5) ;
		}
			#contain .bloc_fw.cdark ,.bloc_fw.cdark .galerie,.bloc_fw.cdark .BodyFontText,
			#contain .bloc_fw.translight ,.bloc_fw.translight .galerie,.bloc_fw.translight .BodyFontText{color: #fff;}
			#contain .bloc_fw.cdark a,#contain .bloc_fw.translight a{color:#fff;}
			.bloc_fw.cdark h1,.bloc_fw.cdark h2,.bloc_fw.cdark h3,.bloc_fw.cdark h4,.bloc_fw.cdark h5,.bloc_fw.cdark h6,.bloc_fw.cdark .BodyFontSubTitle,.bloc_fw.cdark .BodyFontTitle,.bloc_fw.cdark legend,.bloc_fw.cdark .boxTitle,
			.bloc_fw.translight h1,.bloc_fw.translight h2,.bloc_fw.translight h3,.bloc_fw.translight h4,.bloc_fw.translight h5,.bloc_fw.translight h6,.bloc_fw.translight .BodyFontSubTitle,.bloc_fw.translight .BodyFontTitle,.bloc_fw.translight legend,.bloc_fw.translight .boxTitle{color : #fff;}

		.bloc_fw.clight .bloc_fw_contain{
			background-color : #fff ;
			background-color : rgba(255,255,255,0.8) ;
		}
		
		/* Positionnement */
		.bloc_fw{display:flex;padding:20px;}
			.bloc_fw .bloc_fw_contain .contain2{width:100%;}
			.bloc_fw .bloc_fw_content{align-self:center;width:100%;}
			
			.bloc_fw.contentLT .bloc_fw_content,.bloc_fw.contentCT .bloc_fw_content,.bloc_fw.contentRT .bloc_fw_content{align-self:flex-start;margin-top:0px;}
			.bloc_fw.contentLC .bloc_fw_content,.bloc_fw.contentCC .bloc_fw_content,.bloc_fw.contentRC .bloc_fw_content{align-self:center;margin:auto;}
			.bloc_fw.contentLB .bloc_fw_content,.bloc_fw.contentCB .bloc_fw_content,.bloc_fw.contentRB .bloc_fw_content{align-self:flex-end;margin-bottom:0px;}
		
		
		.bloc_fw.contentLT .bloc_fw_contain,.bloc_fw.contentLC .bloc_fw_contain,.bloc_fw.contentLB .bloc_fw_contain{margin-left:0px;}
		.bloc_fw.contentCT .bloc_fw_contain,.bloc_fw.contentCC .bloc_fw_contain,.bloc_fw.contentCB .bloc_fw_contain{margin-left:auto;margin-right:auto;}
		.bloc_fw.contentRT .bloc_fw_contain,.bloc_fw.contentRC .bloc_fw_contain,.bloc_fw.contentRB .bloc_fw_contain{margin-right:0px;}
	
	
	/* Slide */
	
	
	/* Texte */
	.textL{text-align:left;}
	.textC{text-align:center;}
	.textR{text-align:right;}
	.textJ{text-align:justify;}
	
/*******************************************************************************************/	

	#contain .transp ,.transp .galerie,.transp .BodyFontText{color: #fff;}
	#contain .transp a{color:#fff;}
	.transp h1,.transp h2,.transp h3,.transp h4,.transp h5,.transp h6,.transp .BodyFontSubTitle,.transp .BodyFontTitle,.transp legend,.transp .boxTitle{color : #fff;}


		
		/* .bloc_fw.vh100 .bloc_fw_content{
			max-width: 100%;
			margin: 0 auto;
			position: relative;
			top: 50vh;
			transform: translateY(-50%);
			box-sizing: border-box;
		} */
	
	
.fondgris .bloc_fw_contain,.default .bloc_fw_contain{
	padding:0;
}
.bloc_fw {
	background: transparent !important;
}
.fondgris{
	background-color:rgba(125,125,125,0.1)!important;
}	
	
	
@media (max-width: 970px) {
	.bloc_fw{
		padding : 10px 0 ;
	}
}
	