/* MEDIA GALERIE */
.galerie2{} /* Type vignette sur une ligne */
	.vignette_slide .vignette{
		margin : 10px 0 ;
	}
/* MEDIA LIEN */
.lien2 ul,.lien2 ul li{
	list-style : none ;
}
	.lien2 li > div{
		display : inline-block ;
		height : 1.4em ;
		vertical-align : top;
		margin : 0px 0;
		overflow:hidden;
		float : none ;
		clear: both ;
	}
	.lien2 li > div img{
		padding : 0;
		height : 1.4em ;
		box-shadow : none ;
	}
	#contain .lien2 li > div a:hover{
		text-decoration : underline ;
	}
	#contain .lien2 li > div a{
		color : inherit ;
		font-weight : normal ;
	}
	.lien2 .date_lien_url{
		padding:0 5px;
	}
	.lien2 .contenu_lien_url{
		padding:0 5px;
	}
	div.lien.lien2 .image_lien_url{
		float:none;
		width:auto;
		padding:0 3px;
		display : none;
	}
/* MEDIA PARTENAIRE / BLOC MAGIQUE */
/* Généralités */
.partSlide .bx-wrapper .bx-pager{
	bottom : -30px ;
}
.partSlide .contain2 .part_contain .part_partenaire_url{margin:0;}
.part_contain{
	float : none ;
	clear : both ;
	text-align : center ;
}
.part_partenaire_url{
	display : inline-block; 
	text-align : center ;
	vertical-align : top ;
	word-spacing : 0 ;
}
	.part_partenaire_url *{
		box-sizing : border-box ;
	}
.part_img img{
	max-width : 100% ;
	max-height : 100% ;
	vertical-align:middle;
}

	/* .partT0 : vignette carrée + lien */
	.partT0{}
		.partT0 .part_contain *{display:inline-block;line-height:0em;padding:0;margin:0;}
		.partT0 .part_contain .part_partenaire_url{margin:2px 5px;}
	/* .partT1 : image libre + lien */
	.partT1{}
		.partT1 .part_contain *{display:inline-block;line-height:0em;padding:0;margin:0;}
		.partT1 .part_contain .part_partenaire_url{margin:2px 5px;vertical-align:middle;width:200px;height:200px;line-height:200px;border:1px #eee solid;}
	/* .partT2 : raccourci vers */
	.partT2{}
		.partT2 a{color:inherit!important;font-weight:inherit!important;text-decoration:inherit!important;}
		.partT2 .part_contain .part_partenaire_url{margin:2px 5px;vertical-align:top;width:200px;border:1px #eee solid;background:#fff;}
		.partT2 .part_contain .part_partenaire_url .part_img{height:140px;width:100%;background:transparent center center no-repeat;background-size:cover;}
		.partT2 .part_contain .part_partenaire_url .part_titre{color:#000;margin:3px 0px;height:20px;width:100%;text-align:center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
		.partT2 .part_contain .part_partenaire_url .part_desc{color:#000;padding:0 5px;width:100%;height:160px;text-align:justify;}
		
	/* .partT3 : raccourci vers */
	.partT3{}
		.partT3 a{color:inherit!important;font-weight:inherit!important;text-decoration:inherit!important;}
		.partT3 .part_contain .part_partenaire_url{margin:2px 5px;vertical-align:top;width:250px;border:0px #eee solid;background:transparent;}
		.partT3 .part_contain .part_partenaire_url .part_img{height:90px;width:100%;background:transparent center center no-repeat;border:0px;vertical-align:center;line-height:90px;}
		.partT3 .part_contain .part_partenaire_url .part_titre{margin:3px 0px;height:30px;width:100%;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-transform:uppercase;text-shadow:1px 1px 2px #000;}
		.partT3 .part_contain .part_partenaire_url .part_desc{padding:0 5px;width:100%;height:80px;font-size:0.9em;}
		.partT3 .part_contain .part_partenaire_url .part_link{padding:0 5px;width:100%;text-transform:uppercase;}
		
/* A COPIER DANS MODIF.CSS */
@media(max-width:970px){
	span.deploie{
		display:none;
	}
	#navigationM #navContainer ul li {
		position : relative ;
	}
	#navigationM #navContainer ul li ul {
		display: none;
	}
	#navigationM #navContainer ul li .ssmenu{
		position: absolute;
		right: 0;
		top: 0px;
		display: inline-block;
		color: #fff !important;
		background: #7a914d;
		width: 40px;
		text-align: center !important;
		height: 31px;
		margin: 1px 0;
		font-size: 1.5em;
		line-height: 30px;
		vertical-align: middle;
		z-index: 999999999;
		cursor : pointer ;
		padding: 10px;
	}
	/* A MODIFIER OU PAS */
	#body #RWDMenu .box *, #body #RWDMenu .widget *, #body #RWDMenu .box h3, #body #RWDMenu #coordM #coordContainer *, #body #RWDMenu #newsletM #newsletContainer{
		color : #000 !important ;
	}
	#navigationM #navContainer ul li ul{
		background :rgba(78, 111, 24, 0.3) ;
	}
	#body #RWDMenu #navigationM, #body #RWDMenu #newsM, #body #RWDMenu #newsletM, #body #RWDMenu #coordM, #body #RWDMenu #toolsM, #body #RWDMenu #cartM, #body #RWDMenu #searchM{
		background : #ebe9ea!important ;
	}
	#body #RWDMenu .MenuHyperlinkSelected{
		font-weight: normal;
		font-style: italic;
	}
}


	#site .drapeaux {
		position : fixed ;
		right : 20px ;
		top : 20px ;
		z-index : 9999;
		width : 65px ;
	}
		#site .drapeaux ul{
			list-style:none;
			display:none;
			width:100%;
			background:rgba(255,255,255,0.9);
			padding : 5px 5px 0 ;
		}
		#site .drapeaux li{
			padding-bottom : 5px
		}
		#site .drapeaux img.activeLang{
			border-width: 0;
		}
		#site .drapeaux span.activeLang{
			display : inline-block;
			width : 100% ;
			text-align : right ;
			box-sizing : border-box ;
			padding-right: 15px;
			cursor: pointer;
			background: transparent url(../../images/langlistw.png) right center no-repeat;
		}
		#site .drapeaux span.activeLang > span:first-child{
			padding-right : 15px; 
			font-size : 15px;
			display:none ;
		}
		#site .drapeaux span.activeLang > span.otherLang{
			padding-left : 5px; 
			font-size : 10px;
		}
		#site .drapeaux a{
			color : #313131 ;
		}
		#site .drapeaux img{
			max-height : 20px ;
			vertical-align : middle; 
		}
		#site .drapeaux img + span{
			padding-left : 15px; 
			font-size : 15px;
		}
		.logo.logoblanc{
			background: transparent url(../../images/logoblanc.png) left top no-repeat;
			color: #fff;
		}